{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1>{{ company_name }} Invoices</h1>
    <ul class="invoicelist">
        {% for invoice in invoices %}
        <h2 class="invoiceid">Invoice #.{{ invoice.id}} </h2>
            <li class="invoice">
                Client: {{ invoice.client_name }} - Invoice Total: ${{ invoice.total }}
                <ul class ="itemList">
                    {% for item in invoice.items.all %}
                    <h3 class="itemName">Item: {{ item.item_name }}</h3>
                        <li class="item">Item Base Price: ${{ item.base_price }}<br>Item Total Price:{{item.total}}
                            <ul class="supplylist">
                                <h3 class="supplyHeader">Supplies for {{item.item_name}}:</h3>
                                {% for supply in item.supplies.all %}
                                    <li class ="supply">
                                        {{ supply.name }}: {{ supply.quantity }} @ ${{ supply.price }}

                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
